In [0]:
%sql
Create catalog my_catalog;

In [0]:
%sql
use catalog my_catalog;

In [0]:
%sql
create schema if not exists my_catalog.my_schema;

In [0]:
%sql
CREATE TABLE if not exists my_catalog.my_schema.my_table (id int, name string, age int);
insert into my_catalog.my_schema.my_table values (1, 'Rohan', 24);

In [0]:
%sql
select * from my_catalog.my_schema.my_table

In [0]:
%sql
create function my_catalog.my_schema.my_function01(name string, age int)
returns string
return concat(name, ' is ', age, ' years old');

In [0]:
%sql
SELECT my_catalog.my_schema.my_function01(name , age) FROM my_catalog.my_schema.my_table

In [0]:
%sql
Create or replace table my_catalog.my_schema.my_table2(
  customer_id int,
  first_name string,
  last_name string,
  age int
);
insert into my_catalog.my_schema.my_table2 values
(1, 'Rohan', 'Samariya', 24),
(2, 'Rahul', 'Tiwari', 25),
(3, 'Lovekesh', 'Solanki', 26),
(4, 'Hardik', 'Rao', 22)

In [0]:
%sql
select * from my_catalog.my_schema.my_table2

In [0]:
%sql
CREATE FUNCTION my_catalog.my_schema.my_function02(first_name STRING, last_name STRING, age INT)
RETURNS STRING
RETURN
  IF(age > 24, CONCAT(first_name, ' ', last_name, ' is old.'),
    IF(age < 24, CONCAT(first_name, ' ', last_name, ' is child.'),
      CONCAT(first_name, ' ', last_name, ' is MAN.')
    )
  )

In [0]:
%sql
select my_catalog.my_schema.my_function02(first_name, last_name, age) from my_catalog.my_schema.my_table2

In [0]:
%sql